In [8]:
import nltk
nltk.download('vader_lexicon')
import pandas as pd
from nltk.sentiment.vader import SentimentIntensityAnalyzer

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Duncan\AppData\Roaming\nltk_data...

In [4]:
#read in data

path = r'C:\Users\Duncan\Desktop\School\Data Mining\data\\'
file = r'full_cleaned_lyrics.csv'

df = pd.read_csv(path+file)
df.shape

(543303, 4)

In [27]:
#drop duplicates

df = df.drop_duplicates(subset=('title', 'artist'))
df.shape

(528412, 4)

In [28]:
df.head()

,title,artist,chart,full_lyrics
0,0 0 7 shanty town,desmond dekker,0,007 007 at ocean eleven and now rudeboys have ...
1,0 9,booba,0,cest quoi cest de la 0 9 si si de la 0 9 de la...
2,0 rhesus negativ,udo lindenberg,0,es war mitternacht ich ging spazieren da bemer...
3,0 to 100 the catch up,drake,1,part i 0 to 100 verse 1 fuck bein on some chil...
4,00 00 a m,alex britti,0,instrumental

In [29]:
sid = SentimentIntensityAnalyzer()

In [ ]:
df