# Read-in

In [8]:
import nltk
nltk.download('vader_lexicon')
import pandas as pd
from nltk.sentiment.vader import SentimentIntensityAnalyzer

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Duncan\AppData\Roaming\nltk_data...

In [85]:
#read in data

path = r'C:\Users\Duncan\Desktop\School\Data Mining\data\\'
file = r'full_cleaned_lyrics.csv'

df = pd.read_csv(path+file)
df.shape

(543303, 4)

In [86]:
#drop duplicates

df.drop_duplicates(subset=('title', 'artist'), inplace=True)
df.reset_index(inplace=True, drop=True)
df.shape

(528412, 4)

In [87]:
df.head(10)

,title,artist,chart,full_lyrics
0,0 0 7 shanty town,desmond dekker,0,007 007 at ocean eleven and now rudeboys have ...
1,0 9,booba,0,cest quoi cest de la 0 9 si si de la 0 9 de la...
2,0 rhesus negativ,udo lindenberg,0,es war mitternacht ich ging spazieren da bemer...
3,0 to 100 the catch up,drake,1,part i 0 to 100 verse 1 fuck bein on some chil...
4,00 00 a m,alex britti,0,instrumental
5,000 000,beck,0,all the way pixel in the light comin next year...
6,00000 million,bon iver,0,mustve been forces that took me on them wild c...
7,001646,kalimba,0,que hora es aya perdoname solo escuchame why n...
8,007,derrick morgan,0,007 007 at ocean 11 and now rude boys have go ...
9,007,musical youth,0,a special request and a popular demand to all ...

# Sentiment

In [29]:
sid = SentimentIntensityAnalyzer()

In [88]:
docs = [str(x) for x in df.full_lyrics]

sentiment_scores = [sid.polarity_scores(x) for x in docs]
len(sentiment_scores)

528412

In [93]:
sentiment_df = pd.DataFrame(sentiment_scores)

In [94]:
sentiment_df.shape

(528412, 4)

In [95]:
sentiment_df.head()

   compound    neg    neu    pos
0   -0.9758  0.197  0.768  0.035
1   -0.8074  0.036  0.948  0.016
2   -0.9136  0.052  0.948  0.000
3   -0.9992  0.191  0.743  0.066
4    0.0000  0.000  1.000  0.000

In [ ]:
sentiment_df.to_csv()